In [10]:

df = pd.read_parquet(imdb_path)

# ==========================================
# ADAPTATIONS DES COLONNES
# ==========================================

# 1. Cr√©er un ID num√©rique si absent
if 'id' not in df.columns:
    df['id'] = range(1, len(df) + 1)

# 2. Renommer les colonnes pour compatibilit√©
column_mapping = {
'primaryTitle': 'titre',
'averageRating': 'note',
'runtimeMinutes': 'dur√©e',
'numVotes': 'votes'
}

for old_col, new_col in column_mapping.items():
    if old_col in df.columns:
        df[new_col] = df[old_col]

# 3. Convertir genres (string ‚Üí liste)
    if 'genres' in df.columns:
    df['genre'] = df['genres'].fillna('').apply(
        lambda x: [g.strip() for g in x.split(',')] if isinstance(x, str) and x else []
    )
    else:
    df['genre'] = [[] for _ in range(len(df))]

    # 4. Cr√©er release_date depuis startYear
    if 'startYear' in df.columns:
    df['release_date'] = pd.to_datetime(
        df['startYear'].astype(str) + '-01-01',
        errors='coerce'
    )
    else:
    df['release_date'] = pd.NaT

    # 5. G√©rer director.name depuis realisateurs
    if 'realisateurs' in df.columns:
    df['director.name'] = df['realisateurs'].apply(format_director)
    else:
    df['director.name'] = 'Inconnu'

    # 6. Ajouter synopsis (placeholder ou depuis TMDb si disponible)
    if 'synopsis' not in df.columns:
    if 'tmdb_overview_fr' in df.columns:
        df['synopsis'] = df['tmdb_overview_fr'].fillna('Synopsis non disponible.')
    else:
        df['synopsis'] = 'Synopsis non disponible. Consultez IMDb pour plus d\'informations.'

    # 7. G√©rer tmdb_id
    if 'tmdb_id' not in df.columns:
    # Cr√©er un ID factice depuis tconst
    df['tmdb_id'] = df['tconst'].apply(lambda x: abs(hash(x)) % 1000000)

    # 8. Calculer a_laffiche (films r√©cents)
    if 'startYear' in df.columns:
    current_year = datetime.now().year
    df['a_laffiche'] = df['startYear'] >= (current_year - 2)  # Films des 2 derni√®res ann√©es
    else:
    df['a_laffiche'] = False

    # 9. Nettoyer les valeurs manquantes
    df['rating'] = pd.to_numeric(df['rating'], errors='coerce').fillna(0)
    df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce').fillna(90)
    df['votes'] = pd.to_numeric(df['votes'], errors='coerce').fillna(0)

    # 10. Filtrer les films de qualit√© minimale
    df = df[
    (df['rating'] > 0) &
    (df['votes'] >= 100) &
    (df['runtime'] >= 60)
    ].copy()

# ==========================================
# COLONNES FINALES
# ==========================================
colonnes_base = [
'id', 'tconst', 'title', 'release_date', 'genre', 
'runtime', 'rating', 'votes', 'director.name', 
'synopsis', 'tmdb_id', 'a_laffiche'
]

# Ajouter tags et recommandations si elles existent
if 'tags' in df.columns:
colonnes_base.append('tags')
if 'recommandations' in df.columns:
colonnes_base.append('recommandations')

# Garder seulement les colonnes qui existent
colonnes_disponibles = [col for col in colonnes_base if col in df.columns]
df = df[colonnes_disponibles].copy()

# R√©initialiser l'index
df = df.reset_index(drop=True)

df

IndentationError: expected an indented block after 'if' statement on line 24 (1660141040.py, line 25)

In [15]:
import pandas as pd
from pathlib import Path
from datetime import datetime

# Fonction helper
def format_director(realisateurs):
    """Extrait le premier r√©alisateur"""
    if isinstance(realisateurs, list) and len(realisateurs) > 0:
        return realisateurs[0]
    return 'Inconnu'

# Charger les donn√©es
PROJECT_ROOT = Path(r"C:\Users\paulc\Documents\PROJET 2\Cinema_Project2")
imdb_path = PROJECT_ROOT / "data" / "processed" / "imdb_complet_avec_tags"

df = pd.read_parquet(imdb_path)

print(f"üìä Dataset charg√© : {len(df):,} lignes")
print(f"üìã Colonnes disponibles : {df.columns.tolist()}\n")

# ==========================================
# ADAPTATIONS DES COLONNES
# ==========================================

# 1. Cr√©er un ID num√©rique si absent
if 'id' not in df.columns:
    df['id'] = range(1, len(df) + 1)
    print("‚úÖ Colonne 'id' cr√©√©e")

# 2. Renommer les colonnes pour compatibilit√©
column_mapping = {
    'primaryTitle': 'title',
    'averageRating': 'rating',
    'runtimeMinutes': 'runtime',
    'numVotes': 'votes'
}

for old_col, new_col in column_mapping.items():
    if old_col in df.columns:
        df[new_col] = df[old_col]
        print(f"‚úÖ Colonne '{old_col}' ‚Üí '{new_col}'")

# 3. Convertir genres (string ‚Üí liste)
if 'genres' in df.columns:
    df['genre'] = df['genres'].fillna('').apply(
        lambda x: [g.strip() for g in x.split(',')] if isinstance(x, str) and x else []
    )
    print("‚úÖ Colonne 'genre' cr√©√©e (liste)")
else:
    df['genre'] = [[] for _ in range(len(df))]
    print("‚ö†Ô∏è Colonne 'genres' absente, liste vide cr√©√©e")

# 4. Cr√©er release_date depuis startYear
if 'startYear' in df.columns:
    df['release_date'] = pd.to_datetime(
        df['startYear'].astype(str) + '-01-01',
        errors='coerce'
    )
    print("‚úÖ Colonne 'release_date' cr√©√©e")
else:
    df['release_date'] = pd.NaT
    print("‚ö†Ô∏è Colonne 'startYear' absente")

# 5. G√©rer director.name depuis realisateurs
if 'realisateurs' in df.columns:
    df['director.name'] = df['realisateurs'].apply(format_director)
    print("‚úÖ Colonne 'director.name' cr√©√©e")
else:
    df['director.name'] = 'Inconnu'
    print("‚ö†Ô∏è Colonne 'realisateurs' absente")

# 6. Ajouter synopsis (placeholder ou depuis TMDb si disponible)
if 'synopsis' not in df.columns:
    if 'tmdb_overview_fr' in df.columns:
        df['synopsis'] = df['tmdb_overview_fr'].fillna('Synopsis non disponible.')
        print("‚úÖ Colonne 'synopsis' cr√©√©e depuis 'tmdb_overview_fr'")
    else:
        df['synopsis'] = 'Synopsis non disponible. Consultez IMDb pour plus d\'informations.'
        print("‚ö†Ô∏è Synopsis par d√©faut cr√©√©")

# 7. G√©rer tmdb_id
if 'tmdb_id' not in df.columns:
    # Cr√©er un ID factice depuis tconst
    df['tmdb_id'] = df['tconst'].apply(lambda x: abs(hash(x)) % 1000000)
    print("‚úÖ Colonne 'tmdb_id' cr√©√©e (hash)")

# 8. Calculer a_laffiche (films r√©cents)
if 'startYear' in df.columns:
    current_year = datetime.now().year
    df['a_laffiche'] = df['startYear'] >= (current_year - 2)  # Films des 2 derni√®res ann√©es
    nb_affiche = df['a_laffiche'].sum()
    print(f"‚úÖ Colonne 'a_laffiche' cr√©√©e ({nb_affiche:,} films r√©cents)")
else:
    df['a_laffiche'] = False
    print("‚ö†Ô∏è Colonne 'startYear' absente")

# 9. Nettoyer les valeurs manquantes
df['rating'] = pd.to_numeric(df['rating'], errors='coerce').fillna(0)
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce').fillna(90)
df['votes'] = pd.to_numeric(df['votes'], errors='coerce').fillna(0)
print("‚úÖ Valeurs manquantes nettoy√©es")

# 10. Filtrer les films de qualit√© minimale
print(f"\nüìä Avant filtrage : {len(df):,} films")

df = df[
    (df['rating'] > 0) &
    (df['votes'] >= 100) &
    (df['runtime'] >= 60)
].copy()

print(f"üìä Apr√®s filtrage : {len(df):,} films")

# ==========================================
# COLONNES FINALES
# ==========================================
colonnes_base = [
    'id', 'tconst', 'title', 'release_date', 'genre', 
    'runtime', 'rating', 'votes', 'director.name', 
    'synopsis', 'tmdb_id', 'a_laffiche'
]

# Ajouter tags et recommandations si elles existent
if 'tags' in df.columns:
    colonnes_base.append('tags')
    print("‚úÖ Colonne 'tags' conserv√©e")
    
if 'recommandations' in df.columns:
    colonnes_base.append('recommandations')
    print("‚úÖ Colonne 'recommandations' conserv√©e")

# Garder seulement les colonnes qui existent
colonnes_disponibles = [col for col in colonnes_base if col in df.columns]
df = df[colonnes_disponibles].copy()

# R√©initialiser l'index
df = df.reset_index(drop=True)

print(f"\n‚úÖ Dataset final : {len(df):,} films, {len(df.columns)} colonnes")
print(f"üìã Colonnes finales : {df.columns.tolist()}\n")

# ==========================================
# AFFICHAGE DES R√âSULTATS
# ==========================================

print("="*60)
print("APER√áU DU DATASET")
print("="*60)

# Afficher les 5 premi√®res lignes
print(df.head())

print("\n" + "="*60)
print("INFORMATIONS SUR LES COLONNES")
print("="*60)
print(df.info())

print("\n" + "="*60)
print("STATISTIQUES DESCRIPTIVES")
print("="*60)
print(df[['rating', 'runtime', 'votes']].describe())

print("\n" + "="*60)
print("EXEMPLES DE GENRES")
print("="*60)
print(df['genre'].head(10))

print("\n" + "="*60)
print("DISTRIBUTION DES FILMS √Ä L'AFFICHE")
print("="*60)
print(df['a_laffiche'].value_counts())

print("\n" + "="*60)
print("TOP 10 FILMS PAR NOTE")
print("="*60)
print(df.nlargest(10, 'rating')[['title', 'rating', 'votes', 'director.name']])

üìä Dataset charg√© : 487,439 lignes
üìã Colonnes disponibles : ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western', 'acteurs', 'realisateurs', 'tags']

‚úÖ Colonne 'id' cr√©√©e
‚úÖ Colonne 'primaryTitle' ‚Üí 'title'
‚úÖ Colonne 'averageRating' ‚Üí 'rating'
‚úÖ Colonne 'runtimeMinutes' ‚Üí 'runtime'
‚úÖ Colonne 'numVotes' ‚Üí 'votes'
‚úÖ Colonne 'genre' cr√©√©e (liste)
‚úÖ Colonne 'release_date' cr√©√©e
‚úÖ Colonne 'director.name' cr√©√©e
‚ö†Ô∏è Synopsis par d√©faut cr√©√©
‚úÖ Colonne 'tmdb_id' cr√©√©e (hash)
‚úÖ Colonne 'a_laffiche' cr√©√©e (42,802 films r√©cents)
‚úÖ Valeurs manquantes nettoy√©es

üìä Avant filtrage : 487,439 films
üìä Apr√®s filtrage : 118,277 films
‚úÖ Colonne 'tags' conserv√©e

‚úÖ Dataset final : 118,277 films, 13 colonnes
üìã Colonnes finales : ['id', 'tconst', 'title', 'release_date', 'genre', 'runtime', 'rating', 'votes', 'director.name', 'synopsis', 'tmdb_id', 'a_laffiche', 'tags']

============================================================
APER√áU DU DATASET
============================================================
   id     tconst                        title release_date  \
0   3  tt0035423               Kate & Leopold   2001-01-01
1   4  tt0036606  Another Time, Another Place   1983-01-01
2   7  tt0039442                Habla, mudita   1973-01-01
3   8  tt0044952                      Nagarik   1977-01-01
4  10  tt0053295                 Sonnensucher   1971-01-01

                        genre  runtime  rating    votes director.name  \
0  [Comedy, Fantasy, Romance]    118.0     6.4  93228.0       Inconnu
1                [Drama, War]    118.0     6.4    379.0       Inconnu
2                     [Drama]     88.0     6.1    181.0       Inconnu
3                     [Drama]    127.0     7.9    250.0       Inconnu
4                     [Drama]    116.0     6.3    186.0       Inconnu

                                            synopsis  tmdb_id  a_laffiche  \
0  Synopsis non disponible. Consultez IMDb pour p...   552064       False
1  Synopsis non disponible. Consultez IMDb pour p...   803043       False
2  Synopsis non disponible. Consultez IMDb pour p...   361264       False
3  Synopsis non disponible. Consultez IMDb pour p...      587       False
4  Synopsis non disponible. Consultez IMDb pour p...   394994       False

                                                tags
0  Comedy Fantasy Romance Meg-Ryan Hugh-Jackman L...
1  Drama War Phyllis-Logan Giovanni-Mauriello Gia...
2  Drama Jos√©-Luis-L√≥pez-V√°zquez Kiti-M√°nver Fran...
3  Drama Ajit-Banerjee Kali-Bannerjee Gangapada-B...
4  Drama Ulrike-von-Zerboni G√ºnther-Simon Erwin-G...

============================================================
INFORMATIONS SUR LES COLONNES
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118277 entries, 0 to 118276
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             118277 non-null  int64
 1   tconst         118277 non-null  object
 2   title          118277 non-null  object
 3   release_date   118277 non-null  datetime64[ns]
 4   genre          118277 non-null  object
 5   runtime        118277 non-null  float64
 6   rating         118277 non-null  float64
 7   votes          118277 non-null  float64
 8   director.name  118277 non-null  object
 9   synopsis       118277 non-null  object
 10  tmdb_id        118277 non-null  int64
 11  a_laffiche     118277 non-null  bool
 12  tags           118277 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 10.9+ MB
None

============================================================
STATISTIQUES DESCRIPTIVES
============================================================
              rating        runtime         votes
count  118277.000000  118277.000000  1.182770e+05
mean        5.846918     102.463192  9.940758e+03
std         1.326222     201.109468  6.240124e+04
min         1.000000      60.000000  1.000000e+02
25%         5.000000      89.000000  2.040000e+02
50%         6.000000      96.000000  4.930000e+02
75%         6.800000     110.000000  1.860000e+03
max         9.900000   51420.000000  3.144126e+06

============================================================
EXEMPLES DE GENRES
============================================================
0    [Comedy, Fantasy, Romance]
1                  [Drama, War]
2                       [Drama]
3                       [Drama]
4                       [Drama]
5                      [Horror]
6             [Drama, Thriller]
7        [Action, Crime, Drama]
8                      [Horror]
9              [Drama, Romance]
Name: genre, dtype: object

============================================================
DISTRIBUTION DES FILMS √Ä L'AFFICHE
============================================================
a_laffiche
False    110676
True       7601
Name: count, dtype: int64

============================================================
TOP 10 FILMS PAR NOTE
============================================================
                        title  rating   votes director.name
93644                  Madham     9.9  1494.0       Inconnu
96321               Paisawala     9.9  1040.0       Inconnu
92208                   Gumti     9.8   112.0       Inconnu
96374         Yaru Potta Kodu     9.8   312.0       Inconnu
31629       Illusory Thoughts     9.7   393.0       Inconnu
56640  The Story of Your Life     9.7   140.0       Inconnu
64413    Identity of the Soul     9.7   143.0       Inconnu
73004            India's Sons     9.7   365.0       Inconnu
83394           Dheera Samrat     9.7   100.0       Inconnu
86129                Shoshite     9.7   264.0       Inconnu

In [16]:
df

,id,tconst,title,release_date,genre,runtime,rating,votes,director.name,synopsis,tmdb_id,a_laffiche,tags
0,3,tt0035423,Kate & Leopold,2001-01-01,"[Comedy, Fantasy, Romance]",118.0,6.4,93228.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,552064,False,Comedy Fantasy Romance Meg-Ryan Hugh-Jackman L...
1,4,tt0036606,"Another Time, Another Place",1983-01-01,"[Drama, War]",118.0,6.4,379.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,803043,False,Drama War Phyllis-Logan Giovanni-Mauriello Gia...
2,7,tt0039442,"Habla, mudita",1973-01-01,[Drama],88.0,6.1,181.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,361264,False,Drama Jos√©-Luis-L√≥pez-V√°zquez Kiti-M√°nver Fran...
3,8,tt0044952,Nagarik,1977-01-01,[Drama],127.0,7.9,250.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,587,False,Drama Ajit-Banerjee Kali-Bannerjee Gangapada-B...
4,10,tt0053295,Sonnensucher,1971-01-01,[Drama],116.0,6.3,186.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,394994,False,Drama Ulrike-von-Zerboni G√ºnther-Simon Erwin-G...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118272,487416,tt9914942,Life Without Sara Amat,2019-01-01,[Drama],74.0,6.5,257.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,720266,False,Drama Biel-Rossell Maria-Morera Francesca-Pi√±√≥...
118273,487417,tt9914972,Blind Ambition,2021-01-01,[Documentary],96.0,7.1,330.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,316050,False,Documentary Robert-Coe Warwick-Ross 2021
118274,487430,tt9916190,Safeguard,2020-01-01,"[Action, Adventure, Thriller]",95.0,3.6,267.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,309354,False,Action Adventure Thriller Patrick-Gallagher Se...
118275,487431,tt9916270,Il talento del calabrone,2020-01-01,[Thriller],84.0,5.8,1536.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,440907,False,Thriller Sergio-Castellitto Lorenzo-Richelmy A...
118276,487432,tt9916362,Coven,2020-01-01,"[Drama, History, Horror]",92.0,6.4,6194.0,Inconnu,Synopsis non disponible. Consultez IMDb pour p...,332980,False,Drama History Horror Amaia-Aberasturi Alex-Bre...

In [25]:
import pandas as pd
path= "C:/Users/paulc/Documents/PROJET 2/Cinema_Project2/data/processed/imdb_complet_avec_cast.parquet"
df_test= pd.read_parquet(path)
df_test[df_test['primaryTitle']== 'Freedom Writers']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,acteurs,realisateurs
104480,tt0463998,movie,Freedom Writers,Freedom Writers,0,2007,123.0,"Biography,Crime,Drama",7.6,91993.0,...,0,0,0,0,0,0,0,0,"[Hilary Swank, Imelda Staunton, Patrick Dempse...",[Richard LaGravenese]